In [1]:
import pandas as pd

In [2]:
df_inf_raw=pd.read_csv("../../raw/ppi_and_cpi/us_inflation_monthly.csv")

In [3]:
df_inf_raw

       Series ID  Year Period     Label    Value  1-Month Net Change
0    CUUR0000SA0  2000    M01  2000 Jan  168.800                 NaN
1    CUUR0000SA0  2000    M02  2000 Feb  169.800                 NaN
2    CUUR0000SA0  2000    M03  2000 Mar  171.200                 NaN
3    CUUR0000SA0  2000    M04  2000 Apr  171.300                 NaN
4    CUUR0000SA0  2000    M05  2000 May  171.500                 NaN
..           ...   ...    ...       ...      ...                 ...
297  CUUR0000SA0  2024    M10  2024 Oct  315.664                 NaN
298  CUUR0000SA0  2024    M11  2024 Nov  315.493                 NaN
299  CUUR0000SA0  2024    M12  2024 Dec  315.605                 NaN
300  CUUR0000SA0  2025    M01  2025 Jan  317.671                 NaN
301  CUUR0000SA0  2025    M02  2025 Feb  319.082                 NaN

[302 rows x 6 columns]

In [9]:
dates_month_start = pd.date_range(start='2000-01-01', end='2025-02-01', freq='MS')

In [11]:
df_inf_month=pd.DataFrame({"Date": dates_month_start, "cpi":df_inf_raw["Value"].values})

In [12]:
df_inf_month

          Date      cpi
0   2000-01-01  168.800
1   2000-02-01  169.800
2   2000-03-01  171.200
3   2000-04-01  171.300
4   2000-05-01  171.500
..         ...      ...
297 2024-10-01  315.664
298 2024-11-01  315.493
299 2024-12-01  315.605
300 2025-01-01  317.671
301 2025-02-01  319.082

[302 rows x 2 columns]

In [13]:
import numpy as np

In [14]:
lst_rela=[np.nan]
for month in range(1,302):
    lst_rela.append(df_inf_month.loc[month,"cpi"]/df_inf_month.loc[month-1,"cpi"])

In [16]:
df_inf_month["rela_prior"]=lst_rela

In [17]:
df_inf_month

          Date      cpi  rela_prior
0   2000-01-01  168.800         NaN
1   2000-02-01  169.800    1.005924
2   2000-03-01  171.200    1.008245
3   2000-04-01  171.300    1.000584
4   2000-05-01  171.500    1.001168
..         ...      ...         ...
297 2024-10-01  315.664    1.001151
298 2024-11-01  315.493    0.999458
299 2024-12-01  315.605    1.000355
300 2025-01-01  317.671    1.006546
301 2025-02-01  319.082    1.004442

[302 rows x 3 columns]

In [28]:
df_inf_month["year"]=np.full(302,np.nan)

In [30]:
df_inf_month["month"]=np.full(302, np.nan)

In [33]:
for index in range(302):
    df_inf_month.loc[index,"year"]=int(df_inf_month.loc[index,"Date"].year)
    df_inf_month.loc[index,"month"]=int(df_inf_month.loc[index,"Date"].month)

In [35]:
df_inf_month

          Date      cpi  rela_prior    year  month
0   2000-01-01  168.800         NaN  2000.0    1.0
1   2000-02-01  169.800    1.005924  2000.0    2.0
2   2000-03-01  171.200    1.008245  2000.0    3.0
3   2000-04-01  171.300    1.000584  2000.0    4.0
4   2000-05-01  171.500    1.001168  2000.0    5.0
..         ...      ...         ...     ...    ...
297 2024-10-01  315.664    1.001151  2024.0   10.0
298 2024-11-01  315.493    0.999458  2024.0   11.0
299 2024-12-01  315.605    1.000355  2024.0   12.0
300 2025-01-01  317.671    1.006546  2025.0    1.0
301 2025-02-01  319.082    1.004442  2025.0    2.0

[302 rows x 5 columns]

In [21]:
dates=pd.date_range(start="2000-01-01",end="2025-02-28")

In [25]:
df_inf_day=pd.DataFrame({"Date":dates, "cpi":np.full(9191, np.nan), "rela_prior_month":np.full(9191,np.nan)})

In [26]:
df_inf_day

           Date  cpi  rela_prior_month
0    2000-01-01  NaN               NaN
1    2000-01-02  NaN               NaN
2    2000-01-03  NaN               NaN
3    2000-01-04  NaN               NaN
4    2000-01-05  NaN               NaN
...         ...  ...               ...
9186 2025-02-24  NaN               NaN
9187 2025-02-25  NaN               NaN
9188 2025-02-26  NaN               NaN
9189 2025-02-27  NaN               NaN
9190 2025-02-28  NaN               NaN

[9191 rows x 3 columns]

In [37]:
for index in range(9191): 
    cur_year=df_inf_day.loc[index,"Date"].year
    cur_month=df_inf_day.loc[index,"Date"].month
    df_inf_day.loc[index,"cpi"]=df_inf_month[(df_inf_month["year"] == cur_year)&(df_inf_month["month"] == cur_month)]["cpi"].values[0]
    df_inf_day.loc[index,"rela_prior_month"]=df_inf_month[(df_inf_month["year"]== cur_year)&(df_inf_month["month"] == cur_month)]["rela_prior"].values[0]

In [38]:
df_inf_day

           Date      cpi  rela_prior_month
0    2000-01-01  168.800               NaN
1    2000-01-02  168.800               NaN
2    2000-01-03  168.800               NaN
3    2000-01-04  168.800               NaN
4    2000-01-05  168.800               NaN
...         ...      ...               ...
9186 2025-02-24  319.082          1.004442
9187 2025-02-25  319.082          1.004442
9188 2025-02-26  319.082          1.004442
9189 2025-02-27  319.082          1.004442
9190 2025-02-28  319.082          1.004442

[9191 rows x 3 columns]

In [40]:
import sys
sys.path.append("../../../")

In [41]:
from proj_mod import relative_period

In [42]:
df_20_prior=relative_period.create_rela_day_data(int_rela_day=20, str_path="../../processed/all_data_collection.csv")

In [43]:
df_20_prior

,Date,fed_dff_daily,ppi314_monthly_pro_change,ppi332_monthly_pro_change,ppi333_monthly_pro_change,ppi334_monthly_pro_change,ppi335_monthly_pro_change,ppi336_monthly_pro_change,ppi339_monthly_pro_change,ppi516_monthly_pro_change,ppi517_monthly_pro_change,ppi5132_monthly_pro_change,ppi5182_monthly_pro_change,tech_index_20days_prior_pro_change,cop_20days_prior_pro_change,gold_20days_prior_pro_change,silv_20days_prior_pro_change,pal_20days_prior_pro_change,plat_20days_prior_pro_change,crude_oil_20days_prior_pro_change
0,2014-01-02,0.08,2.827965,0.267809,0.389105,0.000000,0.215983,0.255319,0.252738,1.972556,0.000000,-0.108460,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-03,0.08,2.827965,0.267809,0.389105,0.000000,0.215983,0.255319,0.252738,1.972556,0.000000,-0.108460,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-06,0.08,2.827965,0.267809,0.389105,0.000000,0.215983,0.255319,0.252738,1.972556,0.000000,-0.108460,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-07,0.07,2.827965,0.267809,0.389105,0.000000,0.215983,0.255319,0.252738,1.972556,0.000000,-0.108460,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-08,0.07,2.827965,0.267809,0.389105,0.000000,0.215983,0.255319,0.252738,1.972556,0.000000,-0.108460,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,2024-10-24,4.83,-0.554093,0.212418,0.164483,0.331433,-0.163805,0.341572,0.285758,0.939593,0.657165,1.021401,0.012081,2.304486,-2.533904,2.848874,6.047612,11.489776,3.890019,1.027050
2564,2024-10-25,4.83,-0.554093,0.212418,0.164483,0.331433,-0.163805,0.341572,0.285758,0.939593,0.657165,1.021401,0.012081,2.156634,-6.058520,2.688736,4.928061,14.023211,1.715284,6.191398
2565,2024-10-28,4.83,-0.554093,0.212418,0.164483,0.331433,-0.163805,0.341572,0.285758,0.939593,0.657165,1.021401,0.012081,2.882682,-4.780181,3.278750,6.857792,-98.797595,3.196011,-1.019654
2566,2024-10-29,4.83,-0.554093,0.212418,0.164483,0.331433,-0.163805,0.341572,0.285758,0.939593,0.657165,1.021401,0.012081,3.581556,-4.113924,4.565882,9.455834,21.602434,7.401336,-1.416556
2567,2024-10-30,4.83,-0.554093,0.212418,0.164483,0.331433,-0.163805,0.341572,0.285758,0.939593,0.657165,1.021401,0.012081,4.670440,-4.987792,4.565988,7.849343,13.709677,1.856567,-1.743767

In [44]:
df_inf_day_need=df_inf_day[df_inf_day["Date"].isin(df_20_prior["Date"].values)]

In [53]:
df_inf_day_need=df_inf_day_need.reset_index().drop("index",axis=1)

In [54]:
df_inf_day_need

           Date      cpi  rela_prior_month
0    2014-01-02  233.916          1.003720
1    2014-01-03  233.916          1.003720
2    2014-01-06  233.916          1.003720
3    2014-01-07  233.916          1.003720
4    2014-01-08  233.916          1.003720
...         ...      ...               ...
2563 2024-10-24  315.664          1.001151
2564 2024-10-25  315.664          1.001151
2565 2024-10-28  315.664          1.001151
2566 2024-10-29  315.664          1.001151
2567 2024-10-30  315.664          1.001151

[2568 rows x 3 columns]

In [55]:
lst_cpi_rela=df_inf_day_need["rela_prior_month"].values

In [56]:
cols=df_20_prior.columns[2:]

In [58]:
df_20_prior_inf_adj=pd.DataFrame({"Date":df_20_prior["Date"].values, "fed_dff_daily":df_20_prior["fed_dff_daily"]})

In [59]:
df_20_prior_inf_adj

           Date  fed_dff_daily
0    2014-01-02           0.08
1    2014-01-03           0.08
2    2014-01-06           0.08
3    2014-01-07           0.07
4    2014-01-08           0.07
...         ...            ...
2563 2024-10-24           4.83
2564 2024-10-25           4.83
2565 2024-10-28           4.83
2566 2024-10-29           4.83
2567 2024-10-30           4.83

[2568 rows x 2 columns]

In [60]:
for col in cols: 
    int_len=2568
    lst_data=df_20_prior[col].values
    lst_data=lst_data*0.01+np.ones(int_len)
    lst_data=(lst_data/lst_cpi_rela-np.ones(int_len))*100
    df_20_prior_inf_adj[col+"_inf_adj"]=lst_data

In [61]:
df_20_prior_inf_adj

,Date,fed_dff_daily,ppi314_monthly_pro_change_inf_adj,ppi332_monthly_pro_change_inf_adj,ppi333_monthly_pro_change_inf_adj,ppi334_monthly_pro_change_inf_adj,ppi335_monthly_pro_change_inf_adj,ppi336_monthly_pro_change_inf_adj,ppi339_monthly_pro_change_inf_adj,ppi516_monthly_pro_change_inf_adj,ppi517_monthly_pro_change_inf_adj,ppi5132_monthly_pro_change_inf_adj,ppi5182_monthly_pro_change_inf_adj,tech_index_20days_prior_pro_change_inf_adj,cop_20days_prior_pro_change_inf_adj,gold_20days_prior_pro_change_inf_adj,silv_20days_prior_pro_change_inf_adj,pal_20days_prior_pro_change_inf_adj,plat_20days_prior_pro_change_inf_adj,crude_oil_20days_prior_pro_change_inf_adj
0,2014-01-02,0.08,2.446838,-0.103829,0.017017,-0.370646,-0.155464,-0.116273,-0.118845,1.594599,-0.370646,-0.478704,-0.370646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-01-03,0.08,2.446838,-0.103829,0.017017,-0.370646,-0.155464,-0.116273,-0.118845,1.594599,-0.370646,-0.478704,-0.370646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-06,0.08,2.446838,-0.103829,0.017017,-0.370646,-0.155464,-0.116273,-0.118845,1.594599,-0.370646,-0.478704,-0.370646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-07,0.07,2.446838,-0.103829,0.017017,-0.370646,-0.155464,-0.116273,-0.118845,1.594599,-0.370646,-0.478704,-0.370646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-08,0.07,2.446838,-0.103829,0.017017,-0.370646,-0.155464,-0.116273,-0.118845,1.594599,-0.370646,-0.478704,-0.370646,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,2024-10-24,4.83,-0.668452,0.097178,0.049298,0.216057,-0.278612,0.226184,0.170434,0.823516,0.541414,0.905231,-0.102929,2.186840,-2.645986,2.730603,5.925661,11.361568,3.770550,0.910874
2564,2024-10-25,4.83,-0.668452,0.097178,0.049298,0.216057,-0.278612,0.226184,0.170434,0.823516,0.541414,0.905231,-0.102929,2.039159,-6.166548,2.570648,4.807398,13.892089,1.598315,6.069282
2565,2024-10-28,4.83,-0.668452,0.097178,0.049298,0.216057,-0.278612,0.226184,0.170434,0.823516,0.541414,0.905231,-0.102929,2.764371,-4.889680,3.159984,6.734911,-98.798978,3.077340,-1.133477
2566,2024-10-29,4.83,-0.668452,0.097178,0.049298,0.216057,-0.278612,0.226184,0.170434,0.823516,0.541414,0.905231,-0.102929,3.462442,-4.224189,4.445636,9.329965,21.462597,7.277829,-1.529923
2567,2024-10-30,4.83,-0.668452,0.097178,0.049298,0.216057,-0.278612,0.226184,0.170434,0.823516,0.541414,0.905231,-0.102929,4.550073,-5.097052,4.445742,7.725321,13.578916,1.739436,-1.856758

In [62]:
df_20_prior_inf_adj.to_csv("../../processed/all_data_inf_adj_collection.csv")