In [1]:
import pandas as pd

In [2]:
df_his_index=pd.read_csv("../../processed/his_index_tech_500_stable_14_24.csv")

In [6]:
df_all_com=pd.read_csv("../../raw/macro_daily/all_commodities_data.csv")

In [7]:
df_all_com

,ticker,commodity,date,open,high,low,close,volume
0,GC=F,Gold,2000-08-30,273.899994,273.899994,273.899994,273.899994,0
1,GC=F,Gold,2000-08-31,274.799988,278.299988,274.799988,278.299988,0
2,GC=F,Gold,2000-09-01,277.000000,277.000000,277.000000,277.000000,0
3,GC=F,Gold,2000-09-05,275.799988,275.799988,275.799988,275.799988,2
4,GC=F,Gold,2000-09-06,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...,...
29051,PA=F,Palladium,2024-06-17,876.500000,883.599976,876.500000,883.599976,2
29052,PA=F,Palladium,2024-06-18,880.900024,880.900024,880.900024,880.900024,0
29053,PA=F,Palladium,2024-06-20,905.000000,915.500000,905.000000,905.400024,9
29054,PA=F,Palladium,2024-06-21,940.500000,950.000000,918.099976,918.099976,29
29055,PA=F,Palladium,2024-06-24,981.500000,981.500000,976.099976,976.099976,29

In [9]:
df_all_com.groupby("commodity").describe()

             open                                                             \
            count         mean         std      min         25%          50%
commodity
Copper     5979.0     2.728696    1.111126    0.609    2.074000     2.951500
Gold       5975.0  1130.325975  547.728653  255.000  624.549988  1226.699951
Palladium  5683.0   860.200757  639.392635  148.000  365.000000   710.000000
Platinum   5443.0  1057.117269  361.287495  406.000  850.549988   964.099976
Silver     5976.0    16.758749    8.359125    4.026   11.150000    16.615000

                                       high               ...        close  \
                   75%          max   count         mean  ...          75%
commodity                                                 ...
Copper        3.550500     5.192000  5979.0     2.749130  ...     3.552000
Gold       1577.649963  2429.500000  5975.0  1135.944854  ...  1576.950012
Palladium  1010.000000  3380.500000  5683.0   862.548346  ...  1009.825012
Platinum   1321.900024  2251.100098  5443.0  1060.271964  ...  1319.799988
Silver       22.246251    48.459999  5976.0    16.871798  ...    22.233750

                        volume                                                \
                   max   count         mean           std  min    25%    50%
commodity
Copper        5.119000  5979.0  1279.897642   5196.858965  0.0  260.0  408.0
Gold       2433.899902  5975.0  4294.172050  24407.113197  0.0   20.0  105.0
Palladium  2985.399902  5683.0   179.110505    643.336443  0.0    0.0    2.0
Platinum   2251.100098  5443.0   337.978137   1210.447273  0.0    0.0    6.0
Silver       48.584000  5976.0  1458.262048   8539.848615  0.0    5.0   34.0


             75%       max
commodity
Copper     663.0   79408.0
Gold       396.5  386334.0
Palladium   49.0   11174.0
Platinum   100.0   17489.0
Silver     135.0  170297.0

[5 rows x 40 columns]